pipeline/WebActivityFromStageFile.json
{
	"name": "WebActivityFromStageFile",
	"properties": {
		"activities": [
			{
				"name": "StageFileDataFlow",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "InputFileToStageFile",
						"type": "DataFlowReference",
						"parameters": {
							"FileName": {
								"value": "'@{concat(pipeline().RunId, '.csv')}'",
								"type": "Expression"
							}
						},
						"datasetParameters": {
							"GenrateStage": {
								"FileName": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						},
						"linkedServiceParameters": {
							"GenrateStage": {
								"schemaLinkedService": {
									"FileName": {
										"value": "'stage-'+$processId+'.csv'",
										"type": "Expression"
									}
								}
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupEachRow",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupEachRow').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "StageFileSendToServiceBusQueue",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"url": "https://sb-for-test-queues.servicebus.windows.net/items-queue/messages",
								"body": {
									"value": "{\n    \"oktaId\": \"@{item().oktaId}\",\n    \"newNamespace\": \"breadcashback\",\n    \"processId\": \"@{pipeline().RunId}\"\n}",
									"type": "Expression"
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://servicebus.azure.net/"
								}
							}
						}
					]
				}
			},
			{
				"name": "LookupEachRow",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "StageFileDataFlow",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "CreateStageFile",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@concat(pipeline().RunId, '.csv')",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"annotations": []
	}
}