pipeline/WebActivityFromStageFile.json
{
	"name": "WebActivityFromStageFile",
	"properties": {
		"activities": [
			{
				"name": "StageFileDataFlow",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "InputFileToStageFile",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "StageFileDataFlow",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('StageFileDataFlow').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "StageFileSendToServiceBusQueue",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"url": "https://sb-for-test-queues.servicebus.windows.net/items-queue/messages",
								"body": {
									"message": "Hello, World34!"
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://servicebus.azure.net/"
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}